PORT=3000
CORS_ORIGIN=*

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=smspit
DB_USERNAME=smspit
DB_PASSWORD=smspit
DB_POOL_SIZE=10

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

AUTH_SERVICE_URL=http://localhost:8000
